
/* style for div */
#body {
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	overflow: hidden;
	position: fixed;
}

#navbar {
	float:left;
  width: 70%;
  height: 5%;

  background: red;
}

#navbar2 {
  float:right;
  width: 30%;
  height: 5%;

  background: green;
}

#treeviewbar {
	float:left;
  width: 20%;
  height: 5%;

  background: grey;
}


#treeview {
	float:left;
  width: 20%;
  height: 65%;

  background: darkred;
}

#mapfunctions {
  float:right;
  width: 10%;
  height: 60%;

  background: darkgreen;
}

#leafletmap {
  float:right;
  width: 70%;
  height: 60%;

  background: grey;
}

#informationbox {
  float:left;
  width: 20%;
  height: 20%;

  background: yellow;
}

#scriptbox {
  float:right;
  width: 80%;
  height: 35%;

  background: blue;
}

#copyrightbar {
	float:down;
  width: 100%;
  height: 5%;

  background: pink;
}

/* special style for text editor for R scritp */
#scripttextbox {
	width: 100%;
	height: 100%;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}
